In [16]:
import pandas as pd
import numpy as np
import requests

In [4]:
df = pd.read_csv('C:\\Users\\tsaritsenskaya\\Downloads\\users (2).csv', sep=';') #CSV parsing

In [7]:
df.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Records manager,Duncan-Garcia,241-62-8803,"309 Danielle Cliffs\nNorth Amy, NC 69960","(Decimal('-79.694044'), Decimal('145.837904'))",AB+,"['http://www.lara-atkins.info/', 'https://vela...",lambertemma,Stacy Reed,F,"9881 Brown Mission\nWest Marcus, CO 88576",vsmith@yahoo.com,1980-01-04
1,Mental health nurse,Rose-Lee,899-12-4937,Unit 5929 Box 0845\nDPO AE 45149,"(Decimal('16.6696785'), Decimal('-38.243842'))",A-,"['http://jackson-sanchez.net/', 'https://www.g...",greid,Carol Farley,F,USNS Burke\nFPO AE 09663,graceholloway@yahoo.com,1918-07-08
2,Furniture conservator/restorer,Potts and Sons,261-41-9484,"130 Vargas Trail Apt. 244\nNorth Rebecca, WV 1...","(Decimal('-27.9623815'), Decimal('75.091620'))",B-,"['https://www.mclaughlin.com/', 'http://www.gi...",scottmercado,Russell Whitaker,M,"9023 Julie Highway\nJonathanfurt, NE 70139",ghart@gmail.com,1946-09-11
3,Ambulance person,Rivera Inc,201-43-6181,"7173 Adrian Shoal\nWest Paul, NJ 24509","(Decimal('20.706462'), Decimal('-99.445622'))",B-,"['https://smith.net/', 'https://garcia-nichols...",kristin75,Maureen Powers,F,9431 Cunningham Divide Suite 663\nKnightcheste...,stacy77@yahoo.com,1960-07-01
4,Contracting civil engineer,Hatfield Group,878-83-6667,"558 Andrea Prairie Apt. 869\nGeraldside, TX 73555","(Decimal('-5.886452'), Decimal('105.424264'))",O+,['https://curry-mitchell.com/'],lhansen,Edward Mcdonald,M,"58853 Jennifer Brooks Suite 754\nMichaelfort, ...",emoore@yahoo.com,1940-10-02

In [10]:
df1 = df[['username', 'name', 'sex']]
df1.head()

       username              name sex
0   lambertemma        Stacy Reed   F
1         greid      Carol Farley   F
2  scottmercado  Russell Whitaker   M
3     kristin75    Maureen Powers   F
4       lhansen   Edward Mcdonald   M

In [17]:
store = pd.HDFStore('C:\\Users\\tsaritsenskaya\\Downloads\\data_store2.h5', mode='a') #HDF5 parsing

In [18]:
store.keys()

['/parking_table', '/ser_district_value_counts']

In [62]:
st = store['parking_table']
st2 = st.loc[st['District'] == 'район Тропарёво-Никулино']
st2['Capacity'].sum()

26

In [67]:
import requests #html parsing

In [151]:
url = 'file:///C:/Users/tsaritsenskaya/Downloads/23110000100100200001_%D0%9E%D0%B1%D1%89%D0%B8%D0%B9_%D0%BF%D1%80%D0%B8%D1%80%D0%BE%D1%81%D1%82_%D0%BF%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BD%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F.html'
dfs = pd.read_html(url, header=2)
df_1 = pd.DataFrame(dfs[0])

In [ ]:
df_2 = df_1.loc[df_1['Unnamed: 0'] == 'Камчатский край'] #Single out region 'Камчатский край'
df_2.sum()

In [148]:
df_2 = df_2.T #Transpose for our convenience
df_2

                               92
Unnamed: 0        Камчатский край
Unnamed: 1            30000000000
январь 2022 г.                NaN
2014 г.                   -2595.0
2015 г.                   -1153.0
2016 г.                   -1387.0
2017 г.                     828.0
2018 г.                    -834.0
2019 г.                   -1707.0
2020 г.                   -1349.0
январь 2022 г..1           1037.0
2014 г..1                     NaN
2015 г..1                     NaN
2016 г..1                     NaN
2017 г..1                     NaN
2018 г..1                     NaN
2019 г..1                     NaN
2020 г..1                     NaN

In [149]:
df_2_2 = df_2.iloc[3:10,:].sum(axis=1) #Single out particular years
df_2_2

2014 г.   -2595.0
2015 г.   -1153.0
2016 г.   -1387.0
2017 г.     828.0
2018 г.    -834.0
2019 г.   -1707.0
2020 г.   -1349.0
dtype: float64

In [150]:
df_2_2.sum() #Find sum

-8197.0

In [164]:
df_11 = df_1[['Unnamed: 0', '2020 г.']].sort_values('2020 г.') #Sort by dicrease in population in 2020

In [165]:
df_11.head(20)

                                           Unnamed: 0   2020 г.
1                                Российская Федерация -577575.0
52                      Приволжский федеральный округ -216856.0
2                       Центральный федеральный округ -182596.0
76                        Сибирский федеральный округ -114460.0
88                  Дальневосточный федеральный округ  -45150.0
21                  Северо-Западный федеральный округ  -40033.0
67                        Уральский федеральный округ  -31252.0
65                                Саратовская область  -26784.0
61                              Нижегородская область  -26394.0
64                                  Самарская область  -25368.0
83                      Кемеровская область - Кузбасс  -24408.0
53                            Республика Башкортостан  -24365.0
74                                Челябинская область  -23559.0
20  Город Москва столица Российской Федерации горо...  -23029.0
85                                     Омская область  -22990.0
80                                     Алтайский край  -20800.0
69                               Свердловская область  -20614.0
59                                      Пермский край  -19999.0
6                                 Воронежская область  -18597.0
93                                    Приморский край  -18024.0

In [166]:
from lxml import objectify  #xml parsing

In [175]:
parsed = objectify.parse('C:\\Users\\tsaritsenskaya\\Downloads\\users.xml')
root = parsed.getroot()

data = []
cols = []
for i in range(len(root.getchildren())):
    child = root.getchildren()[i]
    data.append([subchild.text for subchild in child.getchildren()])
    cols.append(child.tag)

df5 = pd.DataFrame(data).T  # Create DataFrame and transpose it
df.columns = cols  # Update column names
df.head(10)

,element,element,element,element,element,element,element,element,element,element,...,element,element,element,element,element,element,element,element,element,element
0,"29948 Mason Summit\nRoblesshire, VA 63080","65586 Beverly Camp Apt. 519\nToddshire, NY 32950",Unit 5719 Box 7188\nDPO AA 69227,"4201 Sydney Brooks\nPort Raymond, ND 10924","97225 Matthew Branch\nNew Caitlyn, IN 59591","75979 Garcia Groves Suite 468\nPort Amyberg, H...","460 Dominique Path Suite 615\nTravisburgh, SD ...",52009 Margaret Parks Suite 245\nLake Stephanie...,"51829 Warner Place\nJarvisstad, CT 78217","22460 Townsend Knolls\nAliceside, MD 90237",...,"982 Jessica Tunnel\nNew Thomas, HI 56790","93643 Mejia Heights Apt. 107\nJillshire, VT 13585","29209 Riggs Union\nFeliciamouth, MT 57422",449 Mckinney Meadow Suite 291\nLake Julieville...,13330 Vincent Glen Suite 273\nEast Mariahborou...,"5842 Dennis Valley Suite 218\nSouth Johnton, O...","6640 Leon Ranch\nMyersberg, WY 96847","5669 Schwartz Dale\nSouth Ronaldland, WY 05873","38643 Victoria Harbors Suite 714\nAndrewsberg,...","6771 Jesse Forge Apt. 436\nSouth Kristen, OK 4..."
1,-620352000000,813456000000,-1544140800000,-1363219200000,-1033603200000,-677548800000,-612057600000,-1306886400000,151372800000,268358400000,...,-1754784000000,-782179200000,-1441152000000,-1432339200000,634780800000,868060800000,-1645228800000,-979084800000,-1977350400000,1465257600000
2,B-,B+,B+,AB+,A+,O+,O-,AB+,A+,A-,...,AB-,A+,O+,O-,B+,AB+,B-,A+,B-,B-
3,Mills-Mitchell,"Hampton, Torres and Parker","Hicks, Lewis and Hernandez",Morse-Mccoy,Martin Inc,Vaughn-Adams,"Coleman, Brown and Obrien",Armstrong-Morales,Robinson-Hall,Adams-Sanders,...,Wolf Group,"Walker, Estrada and Price",Johnson-Russell,Young-Reid,"Williams, Reed and Estes",Johnson and Sons,Kelly-Bennett,Kelly Ltd,"Snyder, Sharp and Garner",Ross-Alexander
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,"Investment banker, operational",Press sub,Health and safety adviser,Records manager,Chartered public finance accountant,Systems analyst,Clinical research associate,Financial planner,Clothing/textile technologist,Farm manager,...,Engineering geologist,"Scientist, research (medical)",Camera operator,"Presenter, broadcasting",Garment/textile technologist,Youth worker,Claims inspector/assessor,Comptroller,Technical author,"Engineer, control and instrumentation"
6,joymcdonald@gmail.com,ayalaaaron@gmail.com,tsampson@yahoo.com,linda42@gmail.com,nmay@yahoo.com,josephweber@gmail.com,marycampbell@gmail.com,lisa82@yahoo.com,michael42@hotmail.com,sandra38@gmail.com,...,juliaperry@yahoo.com,watsonkathryn@gmail.com,zvaughan@yahoo.com,thomas33@yahoo.com,tgonzalez@hotmail.com,clairemorris@hotmail.com,flemingstephanie@gmail.com,chadhester@hotmail.com,xthomas@gmail.com,ncrawford@yahoo.com
7,Erika Duncan,Laurie Webb,Jeffrey Miller,Jennifer Cummings,Nicholas Holmes,Phillip Turner,Angela Washington,Lisa Palmer,Rachel Garcia,Jasmine Stevenson,...,Johnny Tucker,Angela Valenzuela,Jeffrey Anderson,Michael Johnson,Jill Rivera,Michelle Wolfe,Michael Joseph,Austin Wells,Cassandra Casey,Emily Riley
8,"697 Michael Land Apt. 950\nSouth Saraview, OK ...","8090 Matthew Forest\nGarciaberg, TX 29182","29416 Richardson Lock Apt. 201\nWest Tinafort,...","71466 Marc Track\nLynnborough, WV 21340",USS White\nFPO AE 16424,"98327 Bell Spring Suite 814\nSouth Brianna, HI...","8718 Kevin Loop\nBrownton, TX 21100","7711 Alex Light\nNorth Amanda, WY 48534","3093 Kimberly Burgs Apt. 686\nFloresmouth, TX ...","576 Kayla Forest Apt. 132\nJohnshire, NM 20478",...,USNV Owens\nFPO AA 15863,"2165 Robert Parkways\nSouth Crystal, DC 44541","6099 Dana Flat Suite 964\nSouth Brandon, CO 03326","980 Ralph Mount\nGregoryborough, MI 18167","35430 Shawn Ville Apt. 326\nSouth Melanie, KS ...","9235 Harris Walks\nNew Patrickchester, MI 99868","503 Mayo Hills Apt. 713\nPort Jessicafurt, LA ...","3382 Campbell Views Suite 221\nNorth Noahfurt,...","997 Monica Turnpike Suite 219\nNew Kevinhaven,...",Unit 9030 Box 9667\nDPO AP 55112
9,F,F,M,F,M,M,F,F,F,F,...,M,F,M,M,F,F,M,M,F,F

In [188]:
df5 = df.T
len(df5.loc[(df5[2] == 'B+') & (df5[9] == 'F')]) #Find number of female user with B+ blood type

5